* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #0b0c10;
  font-family: "Otomanopee One", sans-serif;
  height: 100%;
  color: #66fcf1;
}
#header a {
  color: #66fcf1;
  text-decoration: underline;
}

form {
  color: #66fcf1;
  border: 1px solid #45a29e;
  padding: 50px 50px 30px 50px;
}

hr {
  width: 200px;
  margin: 0 auto;
  border: 1px solid #66fcf1;
}
.btn-custom {
  background-color: #05386b;
  margin: 10px 0 0 0;
}
.btn-custom:hover {
  background-color: #66fcf1;
  color: #05386b;
}
